@tailwind base;
@tailwind components;
@tailwind utilities;

* { -webkit-tap-highlight-color: transparent; box-sizing: border-box; }
html, body, #root { height: 100%; margin: 0; padding: 0; overflow: hidden; }
body { overscroll-behavior: none; -webkit-user-select: none; user-select: none; }
input, textarea { -webkit-user-select: text; user-select: text; }
#root { padding-top: env(safe-area-inset-top); }
